= simple_form_for(@empresa) do |f|
  = f.error_notification

  .form-inputs
    = f.input :nome
    = f.input :endereco, label: "Endereço"
    = f.input :cnpj


  .form-actions
    = f.submit "Salvar"
